<div class="wrapper">
    <aside id="sidebar">
        <div class="h-100">
            <div class="sidebar-logo">
                <a href="/index-admin">MATIFRJ</a>
            </div>

            <div id="user">
                <!--Talvez colocar aqui a foto de perfil do usuario-->
                <div id="user_infos">
                    <% if (user) { %>
                        <span class="item-description" id="usuario"><%= user.username %></span>
                    <% } else { %>
                        <span class="item-description" id="usuario">Faça Login/Registre-se!</span>
                    <% } %>

                    <% if (user.turmaName) { %>
                        <span class="item-description"><%= user.turmaName %></span>
                    <% } else { %>
                        <span class="item-description"></span>
                    <% } %>
                </div>
            </div>  

            <ul class="sidebar-nav">   
                <li class="sidebar-item">
                    <a href="/index-admin" class="sidebar-link">
                        <i class="fa-solid fa-house"></i>
                        Página inicial
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="/perfil-admin/<%= user.id %>" class="sidebar-link">
                        <i class="fa-solid fa-user"></i>
                        Perfil
                    </a>
                </li>
                 
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#anos"
                        aria-expanded="false">
                        <i class="fa-solid fa-graduation-cap"></i>
                        Anos
                    </a>
                    <ul id="anos" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="/Bimestres-admin/1" class="sidebar-link">1º ano</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/Bimestres-admin/2" class="sidebar-link">2º ano</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/Bimestres-admin/3" class="sidebar-link">3º ano</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#avaliacoes-collapse"
                        aria-expanded="false">
                        <i class="fa-solid fa-clipboard-list"></i>
                        Avaliações
                    </a>
                    <ul id="avaliacoes-collapse" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="/gerenciarAvaliacoes" class="sidebar-link">
                                Gerenciar Avaliações
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/cadastroAvaliacao" class="sidebar-link">
                                Cadastrar Avaliação
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#users"
                        aria-expanded="false">
                        <i class="fa-solid fa-users-rectangle"></i>
                        Usuários
                    </a>
                    <ul id="users" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="/cargos" class="sidebar-link">Gerenciar usuários</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/turmas" class="sidebar-link">Gerenciar turmas</a>
                        </li>
                    </ul>
                </li> 

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#categorias"
                        aria-expanded="false">
                        <i class="fa-solid fa-cubes-stacked"></i>
                        Categorias
                    </a>
                    <ul id="categorias" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="/categorias" class="sidebar-link">Gerenciar categorias</a>
                        </li>
                    </ul>
                </li>    



                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#conteudos"
                        aria-expanded="false">
                        <i class="fa-solid fa-box-archive"></i>
                        Conteúdos
                    </a>
                    <ul id="conteudos" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="/GerenciarConteudos" class="sidebar-link">  
                                Gerenciar Conteúdos
                            </a>
                        </li>     
                        <li class="sidebar-item">
                            <a href="/ConteudosCadastrar" class="sidebar-link">
                                Cadastrar Conteúdos
                            </a>
                        </li>
                    </ul>
                </li>  

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#atividades-collapse"
                        aria-expanded="false">
                        <i class="fa-solid fa-pen-fancy"></i>
                        Exercícios
                    </a>
                    <ul id="atividades-collapse" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="/gerenciar-exercicios" class="sidebar-link">
                                Gerenciar exercícios
                            </a>
                        </li> 
                        <li class="sidebar-item">
                            <a href="/atividades" class="sidebar-link">
                                Cadastrar exercícios
                            </a>
                        </li>
                    </ul>
                </li>
                
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#avisos-collapse"
                        aria-expanded="false">
                        <i class="fa-solid fa-bell"></i>
                        Avisos
                    </a>
                    <ul id="avisos-collapse" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="/gerenciar-exercicios" class="sidebar-link">
                                Gerenciar Avisos
                            </a>
                        </li> 
                        <li class="sidebar-item">
                            <a href="/cadastro-avisos" class="sidebar-link">
                                Cadastrar Avisos
                            </a>
                        </li>
                    </ul>
                </li>

                <hr>

                <div class="theme_btn">
                    <li class="sidebar-item" id="theme-toggle">
                        <a href="#" class="sidebar-link" id="theme-toggle">
                            <i class="fa-solid fa-sun"></i>
                            Mudar tema
                        </a>
                    </li>
                </div>
                
                <div class="logout_btn">
                    <li class="sidebar-item" id="logout">
                        <a href="/logout" class="sidebar-link">
                            <i class="fa-solid fa-door-open"></i>
                            Logout
                        </a>
                    </li> 
                </div>
            </ul>
        </div>
    </aside>
    
    <div class="main" id="index">
        <nav>
            <button class="btn" type="button" data-bs-theme="dark">
                <i class="fa-solid fa-bars"></i>       
            </button>
        </nav>

