<%- include ('partials/header.ejs'); %>
<link rel="stylesheet" href="/CSS/login2.css">
<body>
    
    <div class="principal">
        <form class="card-login" method = "POST" action="/login">
            <div class="cima">
                <h1>MATIFRJ</h1>
              <hr>
            </div>
                <div class="textfield form-floating">
                    <input  id="floatingInput" type="email" placeholder="exemplo@gmail.com"  class="form-control" name="email" required> 
                    <label for="floatingInput label">Email</label>
                </div>
                <div class="textfield form-floating">
                    <input id="floatingPassword" type="password" placeholder="Senha" class="form-control" name="password" required> 
                    <label for="floatingPassword label">Senha</label>
                </div>
                    <a id="login_btn"><button id="submit" class="submit">Login</button></a>
                <p class="footer">Não possui conta? <a href="/cadastro" class="link">Por favor, registre-se</a>
                </p>
        </form>   
        <script src="/JS/login.js"></script>
    </div>
    <script>


   
    </script>
</body>

<%- include ('partials/footer.ejs'); %>