@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Righteous&display=swap');

#index.side {
    margin-left: 16.5rem;
    
}   
*,
::after,
::before {
    box-sizing: border-box;
}
body {  
    font-family: 'noto sans', sans-serif;
    margin: 0;
}

#user {
    font-size: 1.25rem;
    color: #000000;
    display: flex;
    margin-left: 10px;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}
#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    margin: 10px;
    display: flex;
    flex-direction: column;
}
#user_infos span:last-child {
    color: rgb(32, 80, 64);
    font-size: 1rem;
}
h3 {
    font-size: 1.2375rem;
    color: #0a0909;
}
a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'noto sans', sans-serif;
}
li {
    list-style: none;
}
.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    margin-left: -16.5rem;
    max-width: 16.5rem;
    min-width: 16.5rem;
    height: 100vh;
    border-radius: 0px 20px 20px 0px;
    background-color:#FFFFFF;
    transition:ease-in-out;
    z-index: 1111;
    position: fixed;
    overflow-y: auto;
}

#sidebar.collapsed {
    margin: 0px;
    position: fixed;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}
.btn>i {
    color: #000000;
    font-size: 1.5rem;
    position: fixed;
}

.btn>i:hover {
    transform: rotate(90deg);
    transition: all 0.2s ease-in-out;
}

button, button:active, button:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.sidebar-logo {
    padding: 0.5rem 1.5rem;
}

.sidebar-logo a {
    font-family: 'Righteous';
    color: #000000;
    font-size: 2rem;
    font-weight: 600;
}

.sidebar-nav {
    padding: 0;
    margin: 5px;
}

.sidebar-header {
    color: #1a1b1c;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .5rem 1.5rem;
    color: #000000;
    position: relative;
    display: block;
    font-size: 1.25rem;
    width: 100%;
    border-radius: 10px;
   
}
a.sidebar-link:hover {
    background-color: rgb(32, 80, 64);
    color: #FFFFFF;
}
a.sidebar-link:hover>i{

    color: #FFFFFF;
    
}
.logout_btn {
    position: relative;
    
}



.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}
.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;  
} 

#logout {
    padding-bottom: 1rem;
}

h5.card-header {
    background-color: #ffffff;
    font-family: 'noto-sans', sans-serif;
    font-size: 1.5rem;
    color: #000000;
}

/* Responsivo */
@media (min-width:768px) {
    .content {
        width: auto;
    }
    
}

:root {
    --sidebar-bg: #ffffff;
    --main-bg: rgb(186, 207, 200);
    --main-text: #000000;
}

body.dark-theme {
    --sidebar-bg: rgb(186, 207, 200);
    --main-bg: rgb(32, 80, 64);
    --main-text: #ffffff;
}

/* Sidebar e conteúdo usando variáveis */
#sidebar {
    background-color: var(--sidebar-bg);
}
body {
    background-color: var(--main-bg);
    color: var(--main-text);
}
.main {
    background-color: var(--main-bg);
    color: var(--main-text);
}
.btn>i {
    color: var(--main-text);
}

