@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Righteous&display=swap');

body {
    margin: 0;
    font-family: "noto sans", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/fundo_numeros2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
body * {
    box-sizing: border-box;
}
.principal {
    width: 75vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer>a {
    text-decoration: none;
    margin: 0;
}

.card-login {
    width: auto;
    height: auto;
    max-height: 97.5vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 30px;
    border-radius: 20px;
    background-color: rgb(186, 207, 200);
    /*box-shadow: 0px 10px 40px #00000056;*/
}

.cima>h1 {
    text-align: center;
    color: #141414;
    font-weight: bolder;
    margin: 0;
    font-family: 'Righteous';
}

.textfield {
    width: 87.5%;
    margin: 5px;
    border-radius: 20px;
    background-color: white;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.submit {
    margin: 30px;
    height: 5vh;
    width: 20vw;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
    background: rgb(0, 255, 128);
    cursor: pointer;
}

.submit:hover {
    background: rgb(0, 255, 192);
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 100%;
    }
    .cima>h1{
        font-size: 13vw;
    }
    .submit {
        width: 60vw;
    }
}

@media only screen and (max-width: 600px) {
    .principal {
        flex-direction: column;
    }
}